footer.footer
        .footer-details
            .creator-details &copy; 2020 Santosh Nair

            ul.footer-ul
                li.footer-li: a(href='/') home
                li.footer-li: a(href='/login') login
                li.footer-li: a(href='/signup') sign up
                li.footer-li: a(href='/postad') Post Ad