extends base

block content
    .error-detail
        .error-title
            h2.heading-secondary Uh oh! Something not in line!!
            h2.error-emoji &#10060; &#10060; 😢🤯 &#10060; &#10060; 
        .error-msg= msg