:root {
  --color-primary: #791f3d;
  --color-secondary:  #405a41;
  --color-grey-light-1: #eeeeee;
  --color-grey-light-2: #e2e2e2;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --color-white: #fff;
  --shadow-dark: 0 1rem 2rem rgba(0,0,0,0.2); }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* box-sizing cancels adding pixels to borders */
}

body {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  background-image: linear-gradient(
    to bottom,
    rgba(253, 253, 253, 0.836),
    rgb(255, 255, 255)
  );
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif;
}

html {
  font-size: 62.5%; 
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
}

.main-section {
  height: 8rem;
  background-color: var(--color-primary);
  display: flex;
  align-content: center;
  justify-content: center;

}

.main-section-title {
  width: 24%;
  color: var(--color-white);
  font-size: 2rem;
  font-weight: 800;
  align-self: center;
  padding-left: 2rem;
}

.main-link:link, .main-link:visited {
  text-decoration: none;
  color: var(--color-white);
}

.main-section-logo {
  width: 24%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
}

.main-section-logo-img {
  align-self: center;
  padding-left: 2rem;
}

.logo-img {
  width: 8rem;
  justify-content: center;
  align-self: center;
}

.search-header {
  align-self: center;
  /* width: 24%; */
}


.searchbar-li {
  display: flex;
  background-color: #fff;
  padding: 0 ;
  height: 2.5rem;
  border-radius: 6px;
  /* outline: 1px solid rgb(83, 49, 49); */
  box-shadow: 0 0 0 1px rgb(156, 94, 94);
  /* outline-offset: 2px; */
}

.searchbar {
  border: none;
  outline: none;
  color: var(--color-grey-dark-1);
  padding-left: 5px;
  border-radius: 3px;
  font-size: 12px;
  width: 20rem;
}

.fa-search {
  padding: 7px 8px;
  background-color: var(--color-primary);
  color: #fff;
  height: 2.5rem;
  transition: transform 0.1s;
  font-size: 1.2rem;
}

.fa-search:hover {
  transform: scale(1.1);
  border: 1px solid #fff;
}

.fa-search:hover:active {
  transform: scale(0.95);
}

.main-section-nav {
  width: 32%;
  align-self: center;
  justify-content: right;
  text-align: center;
  color: white;
  font-size: 1rem;
}

.main-section-nav-ul {
  list-style: none;
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
}

.main-section-nav-li {
  margin-left: 4rem;
  align-self: center;
  text-decoration: none;
  color: #fff;
}

.main-section-nav-img {
  width: 4rem;
  margin-left: 4rem;
}

.main-section-nav-user {
  border-radius: 50%;
  width: 4rem;
  transition: all 0.3s;
}

.main-section-nav-user:hover {
  transform: scale(1.1);
  border: 1px solid #fff;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0,0,0, 0.4);
}

.main-section-nav-name {
  align-self: center;
  margin-left: 1rem;
}

.nav-btn {
  background-color: #fff;
  border-radius: 4rem;
  padding: 2rem, 1rem;
  color: var(--color-primary);
}

.settings-btn {
  background-color: var(--color-primary);
  color: white;
}

.nav-btn-post {
  text-decoration: none;
  color: white;
  font-weight: 600;
  align-self: center;
  font-weight: 600;
}

.main-section-nav-post {
  align-self: center;
  border: 1px solid #fff;
  border-radius: 4rem;
  padding: 0.5rem, 1rem;
  margin-left: 2rem;
}

.nav-btn-link:link, .nav-btn-link:visited {
  text-decoration: none;
  color: var(--color-primary);
}

.btn,
.btn:link,
.btn:visited {
  font-size: 1.3rem;
  font-weight: 600;
  border-radius: 10rem;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-weight: 600;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /*Add later when we use this for the button in form*/
  border: none;
  cursor: pointer;
  outline: none;
}

.btn:hover {
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0,0,0,0.3);
}
.auto-overview {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  margin: 0 auto;
}

.card {
  width: 28%;
  height: auto;
  background-color: #fff;
  margin: 2rem;
  box-shadow: var(--shadow-dark);
  display: flex;
  flex-direction: column;
}

@media (max-width: 65em) {
  .card {
    width: 100%; 
  } 
}

.auto-image-section {
  width: 100%;
}

.auto-image-cover {
  width: 100%;
}

.auto-detail-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  text-align: center;
  height:auto;
}

.auto-make, .auto-model {
  font-size: 2rem;
  font-weight: 800;
  color: var(--color-primary);
  text-transform: uppercase;
}

.auto-location{
  margin: 1rem 0;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--color-secondary);
}

.auto-title-text{
  margin: 1rem 0;
  color: var(--color-grey-dark-1);
  font-size: 1.3rem;
  font-weight: 600;
}

.auto-mileage {
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-secondary);
  padding: 1rem 0;
}

.auto-price {
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--color-primary);
  text-transform: uppercase;
  border-radius: 3px;
  padding: 0.5rem 1rem;
}

.auto-detail-btn {
  padding: 2rem;
}

.btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 3rem;
  border-radius: 2rem;
  margin-top: rem;
}

.btn.btn-details {
  background-color: var(--color-primary);
  margin-top: 2rem;
  color: var(--color-white);
}

.btn--primary {
  background-color: var(--color-primary);
  color: #fff;
}

/* -------------auto details ------------------- */

.auto-detail {
    width: 100rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4rem auto;
    box-shadow: 0 2rem 4rem rgba(0,0,0, 0.4);

}
.auto-detail-card {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 2rem 0;
}

.auto-title {
  font-size: 2rem;
  padding-top: 1.5rem;
  font-weight: 800;
  color: var(--color-secondary);
}

.auto-detail-model {
  color: var(--color-secondary);
}

.auto-detail-year {
  color: var(--color-grey-dark-2);
}

.auto-detail-main-image-box {
  margin: 2rem;
}

.auto-detail-main-image-img {
  border: 1px solid var(--color-grey-dark-3);
}

.auto-description {
  width: 80%;
  margin: 0 auto;
  padding: 2rem;
}

.auto-details-list {
  margin: 3rem auto 2rem auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  text-align: left;
}

.auto-details-list-group {
  display: flex;
  margin: auto;
  font-size: 1.3rem;
  border: 1px solid var(--color-grey-dark-3);
  margin-bottom: 1rem;
  transition: all 0.5s;
}

.auto-details-list-group:hover {
  transform: scale(1.1);
}

.list-title {
  width: 12rem;
  padding: 1rem;
  font-weight: 600;
  background-color: var(--color-primary);
  color: white;
}

.list-descr {
  padding: 1rem;
  border-left: 1px solid var(--color-grey-dark-3);
  width: 12rem;

}

.auto-image-box {
  display: flex;
  flex-direction: row;
  background-color: rgba(139, 110, 111, 0.2);
  padding: 1rem;
}

.auto-thumb {
  justify-content: center;
  width: 90%;
  margin: 1rem;
}

.auto-thumb__image {
  width: inherit;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
  border: 1px solid var(--color-white);
  transition: all 0.5s;
}

.auto-thumb__image:hover {
  transform: scale(2.5);
}

.seller-details {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--color-secondary);
}

.auto-seller {
  margin: 0 auto;
  text-align: left;
  color: var(--color-primary);
  padding: 0.5rem 2rem 0.5rem 6rem;
  border: 1px dotted var(--color-grey-dark-3);
  border-radius: 5px;
  display: flex;
  background-color: rgba(139, 110, 111, 0.2);
}

.auto-seller-logo {
  align-self: center;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin: 0 2rem 0 -8.5rem;
  background-color: var(--color-primary);
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.5);

}

.auto-seller-img {
  width: 4rem;
  border-radius: 50%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.seller-photo {
  margin-right: 2rem;
}

.seller-photo-img {
  width: 6rem;
  border-radius: 50%;
}

.seller-name {
  align-self: center;
  margin-right: 2rem;
  padding-right: 2rem;
  font-size: 1.2rem;
  font-weight: 600;
  border-right: 1px solid var(--color-grey-dark-3);
}

.seller-email {
  align-self: center;
  margin-right: 2rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.footer {
  background-color: var(--color-primary);
  padding: 2rem;
  color:rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  
}

.footer-logo-img {
  width: 5rem;
  margin-right: 2rem;
}

.footer-details {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.creator-details {
  font-size: 1.2rem;
  position: relative;
}

.self-details {
  bottom: 10rem;
}

.footer-ul {
  list-style: none;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}

.footer-ul a:link, .footer-ul a:visited {
  text-decoration: none;
  color:rgb(255, 255, 255);
}
.footer-li {
  margin: 0 2rem;
}

.form-box {
  height: 75vh;
}

.heading-secondary {
  color: var(--color-primary);
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
  text-emphasis: center;
  margin-bottom: 1rem;
}

.login-form {
  margin: 0 auto;
  max-width: 55rem;
  background-color: #fff;
  -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
  box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
  padding: 5rem 7rem;
  border-radius: 5px;
  margin: 10rem auto;
}

.form__input {
  display: block;
  font-family: inherit;
  font-size: 1.2rem;
  color: inherit;
  padding: 1.25rem 1.75rem;
  border: none;
  width: 100%;
  background-color: #fff;
  background-color: #f2f2f2;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* Pseudo element (a visible thing that isn't really in the DOM).
      Also needs -ms- */
}
.form__input:focus {
  outline: none;
  border-bottom: 3px solid #55c57a;
}
.form__input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}
.form__input::-webkit-input-placeholder {
  color: #bbb;
}

.form__group:not(:last-child) {
  margin-bottom: 2.5rem;
}

.form__label {
  display: block;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
  color: var(--color-grey-dark-2);
}

.form__photo-upload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.4rem;
}

.form__user-photo {
  height: 7.5rem;
  width: 7.5rem;
  border-radius: 50%;
  margin-right: 2rem;
}

.form__upload {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.form__upload:focus + label {
  outline: 3px solid var(--color-primary);
  outline-offset: 3px;
}

.form__upload + label {
  color: var(--color-primary);
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid var(--color-primary);
  padding: 3px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}
.form__upload + label:hover {
  background-color: var(--color-primary);
  color: #fff;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

@keyframes fadeOutRight {
  0% {
     opacity: 0;
     width: 0;
  }
  100% {
     opacity: 1;
     width: 100%;
  }
}

.alert {
  padding: 0.5rem 1rem;
  border-radius: 3px;
  margin: 3rem 0;
  display: flex;
  align-content: center;
  animation: fadeOutRight 1s;
  transform: opacity 1s;
}

.alert--success {
  background-color: rgb(195, 247, 223);
  color:rgb(0, 122, 65);
  margin-top: 2rem;
  align-self: center;
}

.alert--error {
  background-color: rgb(255, 192, 190);
  color:rgb(122, 44, 44);
  margin-top: 2rem;
  align-self: center;
}

.alert-msg {
  align-self: center;
  font-size: 1.2rem;
  font-weight: 600;
}

.alert-icon {
  width: 2rem;
  margin-right: 1rem;
  align-self: center;
}

.error-detail {
  width: 100rem;
  height: 75vh;
  text-align: center;
  margin: 4rem auto;
  color: var(--color-primary);
}

.error-emoji {
  font-size: 2rem;
  display: inline;
}

.error-msg {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-grey-dark-1);
  margin-top: 2rem;
}

.account {
  width: 60%;
  margin: 3rem auto;
}

.account-box {
  display: flex;
  font-size: 1.2rem;
  border: 1px solid var(--color-grey-light-2);
  box-shadow: 1rem 1rem 1rem var(--color-grey-light-2);
}

.account-links {
  text-align: center;
  width: 30%;
  background-color: var(--color-primary);
  color:white;
}

.account-details {
  width: 70%;
  padding: 4rem;
  background-color: #fff;
}

.account-links-ul {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: left;
}

.account-links-li {
  background-color: var(--color-primary);
  padding: 1rem;
  border-bottom: 1px solid rgb(146, 15, 69);
  text-transform: uppercase;
  display: flex;
  padding-left: 4rem;
}

.account-links-li:hover {
  background-color: #a11f3f;
  border-bottom: 1px solid rgb(206, 152, 152);
}

.account-links-li-link {
  text-decoration: none;
  color:#fff;
}

.account-links-icons {
  font-size: 1.6rem;
  margin-right: 1rem;
}

.user-heading {
  text-transform: uppercase;
  font-weight: 400;
  padding: 1rem 4rem;
  margin: 2rem 0;
  border-bottom: 1px solid rgb(146, 15, 69);
}

.line {
  margin: 4rem 0;
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
}

.signup {
  width: 50rem;
  height: 75vh;
  margin: 4rem auto;
}

.form-signup {
  border: 1px solid var(--color-grey-light-2);
  border-radius: 3px;
  padding: 4rem;
}

.postad {
  width: 70%;
  min-height: 75vh;
  margin: 4rem auto;
  border: 1px solid var(--color-grey-light-2);
  border-radius: 5px;
  padding: 4rem;
}

.form-postad {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.post-ad--form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.post-ad--form-div {
  width: 20rem;
  text-align: left;
  margin-right: 6rem;
}

.postad-button {
  margin-top: 2rem;
}

.post-ad--form-line {
  width: 100%;
  margin-bottom: 2rem;
}

.postauto-fileupload {
  background-color: var(--color-primary);
  color: white;
  padding: 0.5rem;
  margin-left: 0.5rem;
  border-radius: 3px;
}

.photo-upload-div {
  display: flex;
  flex-direction: column;
}

.form-upload-label {
  width: 14rem;
  padding-bottom: 2px;
  border-bottom: 1px solid var(--color-primary);
  margin-right: 1rem;
}

.form-upload-label:hover {
  padding-bottom: 4px;
}

.review-section {
  width: 25%;
  padding: 2rem;
  margin: 4rem auto;
  box-shadow: var(--shadow-dark);
  border-radius: 1rem;
}

.heading-reviews {
  color: var(--color-secondary);
  font-size: 1.5rem;
  font-weight: 400 !important;
  padding-bottom: 2px;
  border-bottom: 1px dotted var(--color-secondary);
}

.review-box {
  margin: 1rem 0;
  padding: 1rem;
  border-bottom: 1px solid var(--color-grey-light-2);
  /* border-radius: 3px; */
  display: flex;
}

.review-user-image {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  align-self: center;
}

.review-detail {
  margin-left: 2rem;
  border-left: 1px solid var(--color-grey-light-2);
  padding-left: 1rem;

}

.review-title {
  text-transform: uppercase;
  font-size: 1.5rem;
  color: var(--color-secondary);
}

.fa-star-opacity {
  opacity: .2;
}

.review-para {
  margin-top: 0.5rem;
  font-size: 1.3rem;
}

.review-user-name {
  font-size: 1rem;
  margin-top: 0.5rem;
  font-style: italic;
  color: var(--color-primary)
}

.review-star-box {
  margin-top: 0.5rem;
}

.review-rating {
  display: inline;
  color: var(--color-secondary);
}